body {
    background-color: cornsilk;
    margin: 13px;
    font-family: 'Josefin Sans', sans-serif;
}
/*Sidebar CSS*/
aside {
    background-image:linear-gradient(to top right, #0E91CB, #1C9ED8, #51C2F5);
}
/*Header CSS*/
.logo {
    width:1.5em;
    height:auto;
}
/*Navigation CSS*/
nav ul {
    padding:13px;
    background-color:black;
}
nav ul li {
    display: inline-block;
}
nav a {
    text-decoration:none;
    /*display:inline;*/
    padding:13px;
    margin:7px;
    color:white;
}
nav a:hover, a:active {
    background-color:orangered;
}
nav a:visited {
    color:cornsilk;
}
/*Footer CSS*/
footer {
    padding:13px;
    background-color:black;
    color:white;
}
/*Text Style*/
h1, h2, h3 {
    font-variant: small-caps;
}

.purple {
    color: rebeccapurple;
}

.bold {
    font-weight: bold;
}

#about {
    background-color: cadetblue;
    color: white;
    opacity: 0.5;
    font-size: 25px;
    padding: 15px;
}
/*Display Properties*/
.d-block {
    display: block;
}
/*Margin and Padding*/
.mx-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.my-15 {
    margin-top:15px;
    margin-bottom: 15px;
}

.p-13 {
    padding:13px;
}
/*Direction Properties*/
.right {
    text-align:right;
}

.center {
    text-align: center;
}

.mid {
    align-content:center;
    align-items:center;
}