body {
    font-size: 14px;
    background-color: #f2f2f2;
    /*margin: 13px;*/
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/*Image for background*/
main {
    background-image: url(../images/libraryMultiLevel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
/*Image Shape CSS*/
.img-half-corner {
    border-radius: 20px 0 20px 0;
}
/*Sidebar CSS*/
aside {
    background: linear-gradient(310deg, rgba(150,198,217,.5) 0%, rgba(242,242,242,.5) 41%, rgba(235,208,208,.5) 72%, rgba(217,121,121,.5) 100%);
    border-radius: 20px 0 20px 0;
}
/*section CSS*/
section {
    background-color: rgba(77, 111, 117, .2);
    margin: 0 7px 0 7px;
    font-weight: bold;
    color: rgb(242, 242, 242);
    border-radius: 20px 0 20px 0;
}
    /*Article CSS*/
    section article {
        background-color: rgba(150, 198, 217, .2);
        border-radius: 20px 0 20px 0;
    }
/*Header CSS*/
header {
    background-color: #121212;
    color: #96c6d9;
    margin: 0;
    font-variant: small-caps;
    /*outside display*/
    display: block;
    /*inside display*/
    display: flex;
    align-items: center;
    /*line-height:13px;*/
    /*border-radius: 20px 0 20px 0;*/
}

.logo {
    width: 45px;
    height: auto;
}
/*Navigation CSS*/
nav {
    margin: 0;
    background-color: #181818;
}

    nav ul {
        padding: 13px;
        margin:0;
    }

        nav ul li {
            display: inline-block;
        }

    nav a {
        text-decoration: none;
        /*display:inline;*/
        padding: 13px;
        margin: 7px;
        color: #f2f2f2;
    }

        nav a:hover, a:active a:visited{
            border-radius: 20px 0 20px 0;
            background-color: #d97979;
            color: #121212;
            font-weight: bold;
        }

        /*nav a:visited {
            color: #96c6d9;
        }*/
/*Footer CSS*/
footer {
    padding: 13px;
    background-color: #121212;
    color: #f2f2f2;
}
/*Text Style*/
h1, h2, h3 {
    font-variant: small-caps;
    text-shadow: 2px 2px #d97979;
}
nav h1 {
    text-shadow: 2px 2px 7px #d97979 ;
}

.text-mid {
    font-size: 1.5em;
}

.text-big {
    font-size: 2em;
}

.text-bigger {
    font-size: 3em;
}

.grn {
    color: #4d6f75;
}

.bold {
    font-weight: bold;
}
/*TO DO Fix this background gradient to match the new palette*/
#about {
    background: rgba(77,111,117,.5);
    /*opacity: 0.7;*/
    font-size: 25px;
    padding: 15px;
}
#why {
    background: rgba(242,242,242,.5);
    font-size: 25px;
    padding: 15px;
    border-radius: 20px 0 20px 0;
    color:#121212;
    margin-top:.5em;
}
/*Display Properties*/
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block
}

.d-flex {
    display: flex;
}
/*Margin and Padding*/
.mx-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt-0 {
    margin-top: 0;
}

.p-13 {
    padding: 13px;
}
/*Direction Properties*/
.right {
    text-align: right;
}

.center {
    text-align: center;
}

.mid {
    align-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
/*Sizing CSS*/
.fluid {
    max-width: 100%;
    height: auto;
}

.fluid-75 {
    max-width: 75%;
    height: auto;
}

.fluid-50 {
    max-width: 50%;
    height: auto;
}

.fluid-25 {
    max-width: 25%;
    height: auto;
}
/*Float Columns*/
.sm-col-left {
    max-width: 24%;
    float: left;
    padding: .5em;
}

.sm-col-right {
    max-width: 24%;
    float: right;
    padding: .5em;
}

.lg-col-left {
    max-width: 74%;
    float: left;
    padding: .5em;
}

.lg-col-right {
    max-width: 74%;
    float: right;
    padding: .5em;
}

.half-col-left {
    max-width: 49%;
    float: left;
    padding: .5em;
}

.half-col-right {
    max-width: 49%;
    float: right;
    padding: .5em;
}

.clear {
    clear: both;
}

/*Cards*/
.card {
    width: 27%;
    border-radius: 20px 0px 20px 0px;
    background-color: rgba(77, 111, 117, .3);
    display: inline-block;
    box-shadow: 13px 13px 7px 0px rgba(217,121,121,1);
    margin:1em;
}

.card p {
    padding:.5em;
}
/*TO FIX*/
div .card h3 {
    box-shadow:none!important;
}
a .card {
    text-decoration:none;
}
.card:hover {
    border:2px solid #f2f2f2;
}